.root {
    height: 100%;
    overflow: auto;
}

.product-detial {
    height: 100%;
}

.left span:first-child {
    font-size: 1.2rem;
    font-weight: bolder;
}

.product-image {
    height: 10rem;
}